/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    combos { compatible = "zmk,combos"; };

    keymap {
        compatible = "zmk,keymap";

        FlightSim {
            // -----------------------------------------------------------------------------------------
            // |  A  |  B  |  C  |  D  |
            // |  E  |  F  |  G  |  H  |
            // |  I  |  J  |  K  |  L  |
            // |  M  |  N  |  O  |  P  |
            // |  Q  |  R  |  S  |  T  |

            bindings = <
&kp A  &kp B  &kp C  &kp D
&kp E  &kp F  &kp G  &kp H
&kp I  &kp J  &kp K  &kp L
&kp M  &kp N  &kp O  &kp P
&kp Q  &kp R  &kp S  &kp T
            >;
        };

        raise_layer {
            // -----------------------------------------------------------------------------------------
            // | TAB  |  !  |  @  |  #  |  $  |
            // | CTRL |  %  |  ^  |  &  |  *  |
            // | GUI  |  (  |  )  |  [  |  ]  |
            // | SHFT |  {  |  }  |  \  |  |  |
            // | ALT  |  ~  |  `  |  -  |  =  |

            bindings = <
&trans    &trans    &trans     &trans
&trans    &trans    &trans     &trans
&trans    &trans    &trans     &trans
&trans    &trans    &trans     &trans
&trans    &trans    &trans     &trans
            >;
        };
    };

    conditional_layers { compatible = "zmk,conditional-layers"; };
};
